


//background color:
$bg-color1:#536976; 
$bg-color2:-webkit-linear-gradient(to right, #292E49, #536976);
$bg-color3:linear-gradient(to right, #292E49, #536976);


  


//main container color:
   $main-bg-color:#fff;
//title color:
$title-color:midnightblue;